$gray: #252525;
$dark-gray: #191919;
$light-gray: #424242;
$dark-green: #366d52;
$green: #5ac792;

$color-primary: $green;
$color-primary-dark: $dark-green;
$color-secondary: $gray;
$color-secondary-dark: $dark-gray;
$color-secondary-light: $light-gray;

$text-color-primary: $color-primary;
$text-color-primary-dark: $color-primary-dark;
$text-color-secondary: $color-secondary-dark;
$text-color-tertiary: $color-secondary-light;
