$gray: #3e3e3e;
$dark-gray: #312b2b;
$light-gray: #777;
$dark-green: #468c6a;
$green: #5ac792;

$color-primary: $green;
$color-primary-dark: $dark-green;
$color-secondary: $gray;
$color-secondary-dark: $dark-gray;
$color-secondary-light: $light-gray;

$text-color-primary: $color-primary;
$text-color-primary-dark: $color-primary-dark;
$text-color-secondary: $color-secondary-dark;
$text-color-tertiary: $color-secondary-light;
